/* Colors */

:root {
  --text-color: #111111;
  --accent-color: #fd9222;
  --dark-purple-color: #1e1823;
  --deafult-white-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Container */

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Header */

.nav {
  display: flex;
}

.logo {
  color: var(--text-color);
  font-style: italic;
  font-weight: 700;

  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

.nav-list {
  display: flex;
}

.nav-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.contacts-icon {
  width: 24px;
  height: 24px;
}

.contacts-list {
  display: flex;
}
